.ant-carousel .slick-slide {
    text-align: center;
    height: 280px;
    line-height: 280px;
    background: #b3c1db;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }